# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson
'.source.lcb':

  'module … end module':
    'prefix': 'module'
    'body': 'module ${1:/* name */}\n\n\nend module'
  'library … end library':
    'prefix': 'library'
    'body': 'library ${1:/* name */}\n\n\nend library'
  'widget … end widget':
    'prefix': 'widget'
    'body': 'widget ${1:/* name */}\n\n\nend widget'

  'if … end if':
    'prefix': 'if'
    'body': 'if ${1:/* condition */} then\n\t${2:/* code */}\nend if'
  'if … else … end if':
    'prefix': 'ife'
    'body': 'if ${1:/* condition */} then\n\t${2:/* code */}\nelse\n\t${3:/* code */}\nend if'

  'repeat':
    'prefix': 'repeat'
    'body': 'repeat ${1:/* iterator */}\n\t${2:/*code*/}\nend repeat'

  'handler':
    'prefix': 'handler'
    'body': 'handler ${1:/* name */}(${2:/* args */}) returns ${3:/* type */}\n\t${4:/* code */}\nend handler'

  'lcbtemplate':
    'prefix': 'lcbt'
    'body': '-- declaring extension as widget, followed by identifier\n
   widget community.livecode.username.identifier\n
   use com.livecode.canvas\n
   use com.livecode.widget\n
   use com.livecode.engine\n
   metadata title is "title"\n
   metadata author is "author"\n
   metadata version is "1.0.0"\n
   \n
   -- property yourProperty 	get mYourVariable	set yourSetCommand
   \n
   \n
   public handler OnLoad(in pProperties as Array)\n
   -- your code here\n
   put pProperties["myProperty"] into mMyVariable\n
   end handler\n
   \n
   public handler OnSave(out rProperties as Array)\n
   -- your code here\n
   put the empty array into rProperties\n
 	 put mMyVariable into rProperties["myProperty"]\n
 	 return rProperties\n
   end handler\n
   \n
   public handler OnCreate()\n
   -- your code here\n
   end handler\n
   \n
   public handler OnPaint()\n
   -- your code here\n
   end handler\n
   \n
   end widget'
